<p id="notice"><%= notice %></p>

<h1>Verdicts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @verdicts.each do |verdict| %>
      <tr>
        <td><%= verdict.name %></td>
        <td><%= link_to 'Show', verdict %></td>
        <td><%= link_to 'Edit', edit_verdict_path(verdict) %></td>
        <td><%= link_to 'Destroy', verdict, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Verdict', new_verdict_path %>
