<%= form_with(model: news, local: true) do |form| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :news_url %>
  </div>

  <div class="field">
    <%= form.label :headline %>
    <%= form.text_field :headline, id: :news_headline %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :news_description %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select(:category_id, Category.all, :id, :name, { :prompt => 'Select a Category', :selected => @news.category_id }, { class: 'form-control' }) %>
  </div>

  <div class="field">
    <%= form.label :checker_id %>
    <%= form.collection_select(:checker_id, Checker.all, :id, :name, { :prompt => 'Select a Fact Checker', :selected => @news.checker_id }, { class: 'form-control' }) %>
  </div>

  <div class="field">
    <%= form.label :verdict_id %>
    <%= form.collection_select(:verdict_id, Verdict.all, :id, :name, { :prompt => 'Select a Verdict', :selected => @news.verdict_id }, { class: 'form-control' }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
