<%= form_with(model: news, local: true) do |form| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :news_url %>
  </div>

  <div class="field">
    <%= form.label :headline %>
    <%= form.text_field :headline, id: :news_headline %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :news_description %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id, id: :news_category_id %>
  </div>

  <div class="field">
    <%= form.label :checker_id %>
    <%= form.text_field :checker_id, id: :news_checker_id %>
  </div>

  <div class="field">
    <%= form.label :verdict_id %>
    <%= form.text_field :verdict_id, id: :news_verdict_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
