<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <a href="<%= @news.url %>"><%= @news.url %></a>
</p>

<p>
  <strong>Headline:</strong>
  <%= @news.headline %>
</p>

<p>
  <strong>Description:</strong>
  <%= @news.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @news.category.name %>
</p>

<p>
  <strong>Checker:</strong>
  <%= @news.checker.name %>
</p>

<p>
  <strong>Verdict:</strong>
  <%= @news.verdict.name %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
