<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @news.url %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @news.headline %>
</p>

<p>
  <strong>Description:</strong>
  <%= @news.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @news.category %>
</p>

<p>
  <strong>Checker:</strong>
  <%= @news.checker %>
</p>

<p>
  <strong>Verdict:</strong>
  <%= @news.verdict %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
