<%= form_with(model: checker, local: true) do |form| %>
  <% if checker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(checker.errors.count, "error") %> prohibited this checker from being saved:</h2>

      <ul>
      <% checker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :checker_name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :checker_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
