<p id="notice"><%= notice %></p>

<h1>Checkers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkers.each do |checker| %>
      <tr>
        <td><%= checker.name %></td>
        <td><%= checker.url %></td>
        <td><%= link_to 'Show', checker %></td>
        <td><%= link_to 'Edit', edit_checker_path(checker) %></td>
        <td><%= link_to 'Destroy', checker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checker', new_checker_path %>
